<div class="row">
  <div class="col-md-7 offset-md-3 text-center pt-md-5 mt-md-5 card">
    <div class="card-body">
    <strong>Seleccione un rango de fechas para realizar la consulta</strong>
    <%= form_for :date_range, url: reports_path, method: :get do |f| %>
      <%= f.text_field :starts_at, class: "datepicker" %>
      <%= f.text_field :ends_at, class: "datepicker" %>
      <%= f.submit t(:submit), class: "btn btn-primary"  %>
    <% end %>
    </div>
  </div>
</div>

